<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
  
<body>    
    <%- include("./partials/header.ejs") %>
<h1>Edit <%=pokemon.name %></h1>
    <form action="/<%= pokemon %>?_method=PUT" method="POST">
       <input type="text" name="name" value="<%=pokemon.name %>">
      <input type="text" name="img" value="<%=pokemon.img %>">
       <input type="text" name="type" value="<%=pokemon.type %>">
        <input type="submit" value="Edit">
    
    </form>
</body>
</html>