
<h1><%=pokemon.name %></h1>
<body>
    <link rel="stylesheet" href="/styles.css">
<div class="container">
    <img src="<%= pokemon.img %>" />
    <h3><%=pokemon.type %></h3>
    <h3><%=pokemon.stats %></h3>
    <h3><%=pokemon.moves %></h3>
    <h3><%=pokemon.damages %></h3>
    <h3><%=pokemon.misc %></h3>
    <button type="button"><a href="/pokemons">Back</a></button>
</div>
</body>